body{
position: relative;
width: 100%;
height: 100%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background: url(images/michael-dziedzic-gEN5Btvf2Eg-unsplash.jpg) no-repeat center center fixed;
background-size: cover;
overflow: hidden;
}

.container{

position: relative;
width: 520px;
height: 958px;
left: 5%;
top: 100px;
background: rgba(0, 0, 0, 0.25);
border-radius: 79px;
animation-name:upper;
animation-duration: 2s;
}

@keyframes upper{
    from {height:0px ;}
    to {height: 958px;}
}


/* Saber mais */
.container button{
position: absolute;
width: 199.54px;
height: 75px;
left: 50%;
top: 85%;
transform:translate(-50%,-50%);
background: #000000;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 35px;
cursor: pointer;
}

.container button a{
font-family: RedHat Text;
font-style: normal;
font-size: 30px;
text-decoration:none;
color: #fff;
}

.container button:hover{
    box-shadow: 0px 0px 10px orangered, 0px 0px 25px navy;;
}

.container .caixa{
position: absolute;
width: 318px;
height: 275px;
left: 50%;
top: 60%;
transform:translate(-50%,-50%);
border: 5px solid #000000;
box-sizing: border-box;
border-radius: 40px;
box-shadow: inset -4px -4px 4px orangered, inset 4px 4px 4px navy;
}

.caixa .texto{
/* Conhece as ferramentas que o LTI fornece e melhora o teu estudo. */

position: absolute;
width: 292.09px;
height: 239.84px;
text-align: center;
font-family: Radley;
font-style: normal;
font-weight: normal;
font-size: 36px;
display: flex;
align-items: center;
text-align: center;
color: #DCC9C9;

}

.container .logo{
position: absolute;
width: 172px;
height: 187px;
left: 50%;
top: 20%;
transform:translate(-50%,-50%);
background: url(images/lti.png);
}